body {
  background-image: url(../img/moto-background.jpg);
  background-size: 1500px;
  background-repeat: no-repeat;

}

.steve {
  max-width: 250px;
  float: right;
}

h1 {
  font-size: 100px;
  font-weight: lighter;
  font-kerning: 10px;
}

.sidebar {
  background-color: white/*;opacity:0.5*/;
  padding: 10px;
  position: relative;
}

.sidebar-ontop {
}

.about {
  background-color: white/*;opacity:0.5*/;
  padding: 10px;
  margin-top: 100px;
}

.about-span {
  background-color: lightblue;
  padding: 5px
}

.john-day {
  width: 300px;
  float: right;
}

.steve-span {
  background-color: lightgray;
  padding: 5px
}
