body {
  background-image: url(../img/motorcycle-background.jpg);
  background-size: 1650px;
  background-repeat: no-repeat;

}

.steve {
  max-width: 250px;
  float: right;
  margin-top: 20px;
}

.motohead {
  max-width: 250px;
  float: right;
  margin-top: 20px;
  width: 75%;
}

h1 {
  font-size: 8em;
  font-weight: lighter;
  letter-spacing: .05em;
}

.sidebar h4 {
  color: black;
  margin-left: 8px;
  margin-bottom: 12px;
  line-height: 1.25em;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  position: relative;
  margin-top: 20px;
  color: darkblue;
}

.sidebar a {
  color: darkblue;
}

.sidebar a:hover {
  color: rgba(193, 42, 42, 1);
}

.sidebar li {
  margin-bottom: 8px;
}

.about {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px 10px 20px;
  margin-top: 175px;
  color: black;
}

.about p {
  font-size: 1.2em;
}

.about a {
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 3px 0 5px;
}

.about a:hover {
  color: rgba(193, 42, 42, 1);
}

.about ol {
  font-size: 1.2em;
}

.about-span {
  background-color: rgba(140, 186, 231, 0.6);
  padding: 5px;
  padding-right: 10px
}

.john-day {
  width: 300px;
  float: right;
  margin-left: 20px;
}

.steve-span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  padding-right: 20px;
}
